.canvas {
    width: 500px;
    height: 750px;
    background-color: #d7d0e7;
    overflow: hidden;
    filter: blur(2px);
  }
  
  .frame {
    border: 50px solid #322a44;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
  }
  
  .one {
    width: 225px;
    height: 150px;
    background-color: #0f7a75;
    margin-top: 75px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px; 
    /* margin: 30px auto; */
    box-shadow: 0 0 3px 3px #0c5e5a;
    border-radius: 9px;
    transform: rotate(-0.6deg);
  }
  
  .two {
    width: 375px;
    height: 200px;
    background-color: #3c0561;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #251231;
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
  }
  
  .one, .two {
    filter: blur(1px);
  }
  
  .three {
    width: 91%;
    height: 28%;
    background-color: #052561;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #0d2147;
    border-radius: 30px 25px 60px 12px;
  
  }